@{
    var allNavigations = new[]
    {
        new { linkText = "Home", actionName = "Index", controlerName = "Home" },
        new { linkText = "About", actionName = "About", controlerName = "Home" },
        new { linkText = "Contact", actionName = "Contact", controlerName = "Home" },
        new { linkText = "3D", actionName = "Art", controlerName = "Home" },
        new { linkText = "Arma3", actionName = "Arma3", controlerName = "Home" },
        new { linkText = "Projects", actionName = "Index", controlerName = "Projects" },
        new { linkText = "Blog", actionName = "Index", controlerName = "Blog" }
    };

    var jumpTos = new[]
   {
        new { linkText = "Console", actionName = "Console", controlerName = "Projects" },
        new { linkText = "AI", actionName = "AI", controlerName = "Projects" },
        new { linkText = "AS3TOCS", actionName = "AS3TOCS", controlerName = "Projects" },
        new { linkText = "Mandelbrot", actionName = "MandelbrotSet", controlerName = "Projects" },
        new { linkText = "Three.js", actionName = "Threejs", controlerName = "Projects" },
        new { linkText = "WebCam", actionName = "WebCam", controlerName = "Projects" },
        new { linkText = "Chat", actionName = "Chat", controlerName = "Projects" }
    };
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jerry Switalski - Personal Website</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @foreach (var nav in allNavigations)
                    {
                        //string active = ViewBag.Title == nav.linkText ? "class=\"active\"" : string.Empty;
                        <li>@Html.ActionLink(nav.linkText, nav.actionName, nav.controlerName)</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div style="width:73%;">
            @RenderBody()
        </div>
        <div class="myentry menu-right">
            <div class="center">
                <h2>Jump to</h2>
                <ul>
                    @foreach (var nav in jumpTos)
                    {
                        <li>@Html.ActionLink(nav.linkText, nav.actionName, nav.controlerName)</li>
                    }
                </ul>
                <ul id="visitors"></ul>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Jerry Switalski</p>
        </footer>
    </div>   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/myscripts")
    @Scripts.Render("~/bundles/masonry")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/signalr")

    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/bundles/hubs");

    @RenderSection("Scripts", false)
</body>
</html>
