@using Microsoft.AspNet.Identity
@using my_website.Helpers
@using my_website.Models
@using my_website.Users

@model IEnumerable<my_website.Models.Blog>

@{
    ViewBag.Title = "Blog";
}

@if (User.IsInRole(Users.Roles.ADMIN))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@foreach (var item in Model)
{
    <div class="myblog multiline"><h2>@Html.Raw(item.Title)</h2><br/>@Html.Raw(item.Content)<br /><b>@Html.Encode(item.User) &nbsp @Html.Encode(item.Time)</b></div>

    if (User.IsInRole(Users.Roles.ADMIN))
    {
        <table class="table">
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        </table>
    }
}

<div>
    @if ((Model as PaginatedList<Blog>).HasPreviousPage)
    {
        @Html.RouteLink("<<<", "BlogPage", new { page = ((Model as PaginatedList<Blog>).PageIndex - 1) });
    }
         
    @if ((Model as PaginatedList<Blog>).HasNextPage)
    {
        @Html.RouteLink(">>>", "BlogPage", new { page = ((Model as PaginatedList<Blog>).PageIndex + 1) });
    }
</div>
