@{
    ViewBag.Title = "Arma3";
}

@{
    var imgsUrls = new List<string>
    {
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468331713746/3D3192441DF833EA91A39E9056782129C9615460/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789666247158974960/7D715738A69D76A2809CA405E40146654C8BEC8F/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789666247158974099/026C3720B74DF776A90741805E285425E98654A3/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789666247149906309/846B3622D6CB6F8221C08AC5B73B029B0547DD8C/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468331714368/CEB52F7164DDEFF342BA3ED69F35B520033B6F45/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468331712198/5297DD8CA972CAF9E75002B528CD5401059802C2/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468331300604/E355312AF86C66DFCAF785F0F3E29FED0003C15A/",
        @"https://steamuserimages-a.akamaihd.net/ugc/841456395995443420/085D81344915AD04C4AE1607153E54A3813D0D24/",
        @"https://steamuserimages-a.akamaihd.net/ugc/841456062822435614/8C19F4E894B4EC3EA4046B18A2CF774AE5BAC5B7/",
        @"https://steamuserimages-a.akamaihd.net/ugc/841456062824878065/2657611D2851C434BF6502C1BCFD0200D724049A/",
        @"https://steamuserimages-a.akamaihd.net/ugc/820062603941378212/BC4D1425C377A4AA0FEECFEBF328C22F11220ADB/",
        @"https://steamuserimages-a.akamaihd.net/ugc/841456062822434499/42A8C33476E799E44CD664510A591FDC0E33C5D0/",
        @"https://steamuserimages-a.akamaihd.net/ugc/820062603940050736/70511C6CAC18F0D42CC2641CA92E779A74536A49/",
        @"https://steamuserimages-a.akamaihd.net/ugc/820062603940051276/A08D9211021592F2B0F590DE581B2A1414530B54/",
        @"https://steamuserimages-a.akamaihd.net/ugc/831322238214697927/04C73D6EFBFA84093D4EF41EFF76637D58154B45/",
        @"https://steamuserimages-a.akamaihd.net/ugc/841456062822077599/A4FD4D069C9E99699E2E02BB6648E2FE03E4F587/",
        @"https://steamuserimages-a.akamaihd.net/ugc/841455969770091358/FFDF2E643C166E1561DA9ECA5348588AE164804C/",
        @"https://steamuserimages-a.akamaihd.net/ugc/831322625434443529/6262B0631CBD96BA9B50CD5DFD4D72ECD71F2CC7/",
        @"https://steamuserimages-a.akamaihd.net/ugc/831322625433681768/5AF43E9BFA8A3E50E5EAD789F38B7545C33632FA/",
        @"https://steamuserimages-a.akamaihd.net/ugc/831322238215382861/A52EDEF24B0EF8FB13F11877024F8A0B338DC03D/",
        @"https://steamuserimages-a.akamaihd.net/ugc/841456062822078556/EB1187BB58558D7E1AC9728C9EA2AD4D0976B4A0/",
        @"https://steamuserimages-a.akamaihd.net/ugc/841456062822435221/EC06E171017D7CBCEB83043B97CB55F8F4EEB39E/",
        @"https://steamuserimages-a.akamaihd.net/ugc/841456062822434499/42A8C33476E799E44CD664510A591FDC0E33C5D0/",
        @"https://steamuserimages-a.akamaihd.net/ugc/841456062822436106/286CA0075A7784E68F8D182BDA04748552010B95/",
        @"https://steamuserimages-a.akamaihd.net/ugc/841456062824878065/2657611D2851C434BF6502C1BCFD0200D724049A/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468328841882/6014206B2A7B382DB0B5CA80E915DA763C8DFEED/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468328841010/212961C91B81C2B484B34932F7A6E8E6922D2603/",
        @"https://steamuserimages-a.akamaihd.net/ugc/841456395995443420/085D81344915AD04C4AE1607153E54A3813D0D24/",
        @"https://steamuserimages-a.akamaihd.net/ugc/841456062826149560/9B33375BD62AE8A65657148AAD0F290A635751F1/",
        @"https://steamuserimages-a.akamaihd.net/ugc/841456062826149029/6BC9B28AD1EE4BD3A2D77FD5E09B543D4188B2DD/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468329782610/B6675DF42FA2DE1834BCA63F82472D2E46D43394/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468329673151/52250779EC2A88B7EEC02C75B014B0A1C12F4830/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468331299105/33F44512330EC99B32B6C8643E5DE924311AA794/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468331297733/35CCA763E7BA2E999F09878A36CE541E79AD2A93/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468329783129/2524C228BB745CB06A41E972657875D27E21647C/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468331711484/09B4281B6B2FC50A7B6755149552D2ECB60C8DB0/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468331710992/60A3DF8F07BA9D8BF4D7BCAF686FE731D5D072DD/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468331302980/0F120B1251FEAFA082FB2D28FCA74BA7C7E6FF6E/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468331302421/88247F18F592425DAF42B2AE87E76E2372C0F86E/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468331301766/1488F45F4619A737B8E543DEF9F3E56D230C7735/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468331712607/3CA0D4783E55B3E6ECA071A5999A2E6D61CD804B/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468331712198/5297DD8CA972CAF9E75002B528CD5401059802C2/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468331714784/A25CB174CED325B5C516C04CEBF2226C16F747BD/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468331713044/226522DD8DB7F669A4D3F286FD86844FB2C443BD/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468331713746/3D3192441DF833EA91A39E9056782129C9615460/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789665468332737977/A2CB2D794A796B518CFC6B17DE52C89EF9AACEF8/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789666823172041252/04A375B88D737560B0F076EACB2E6921BB597014/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789666247158974960/7D715738A69D76A2809CA405E40146654C8BEC8F/",
        @"https://steamuserimages-a.akamaihd.net/ugc/789666247149906901/55D04CD5B0225D5295F10C5A2A42227E4A8ADC46/"
    };
    var random = new Random();
    imgsUrls.Sort((x, y) => random.Next(100) > 50 ? 0 : 1);
}

<div class="myentry">
    <h2>The Best Game</h2>
    <p>Arma3 is simply the best video game, military simulator I have ever played.</p>
    <p>These are mine screenshots from my Steam account.</p>
    <p>I will add soon more content here including videos and SQF scripts</p>
</div>

<div class="grid">
    @{
        bool isFirst = true;

        foreach (var url in imgsUrls)
        {
            string cssClass = "grid-item";
            if (isFirst)
            {
                cssClass = "grid-sizer";
            }
            else
            {
                if (random.Next(0, 10) >= 5)
                {
                    cssClass += " grid-item--width2";
                }
            }

            isFirst = false;

            //var width = random.Next(150, 700).ToString() + "px";

                <img src="@url" class="@cssClass" alt="Arma3" onclick="window.open('@url');" />

                @*

                    <img src="@url" alt="Arma3" class="@cssClass" onclick="window.open('@url');" style="background:url('@url') no-repeat 0 0; opacity: 0.0;" />
        <figure class="@cssClass" style="display:inline-block;">
            <img src="@url" alt="Arma3" style="width:100%; float:left;" onclick="window.open('@url');" />
            <figcaption><div>Click</div></figcaption>
        </figure>
                *@
        }
    }
</div>








